<!DOCTYPE html>
<html>
<head>
    <title>Text Summarizer App</title>
    <link rel='stylesheet' href=''../style.css' />
</head>
<body>
  <label class='heading' id='heading'>Text Summarizer</label>
  <div class='container'>

        <form action='#' method='POST'>
          <input type='text' name='text' autocomplete='off' placeholder='Type or paste your text here'><br>
          <button name='summarize_btn' class='summarize_btn'>Summarize</button>
        </form> <br>
        <label class='summary_label'>Summary</label> <br>
        <textarea> {{ summary }} </textarea>
    </div>
</body>
</html>
